extends layout

block content
	.jumbotron
		.container
			h1= message
			h2= error.status
			p #{error.name} #{error.message}
	//- p #{error.fileName}
	//- p #{error.lineNumber}
	//- p #{error.stack}
		
